/* HEADER */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}
li {
  list-style-type: none;
  text-transform: uppercase
}
a:hover {
  text-decoration: none;
}
header {
  background-color: #4f4f4f;
  padding: 10px 0;
  font-size: 0.9em;
  height: 40px;
}
header a {
  color: white;
}
header a:hover {
  color: white;
}
.lang {
  position: absolute;
}
.lang a {
  padding: 0 30px;
}

header .first {
  border: 1px solid #4f4f4f;
  background-color: white;
  width: 100px;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 30px;
  display: none;
}
header .first li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: block;
}
header .first a {
  color: #4f4f4f;
  font-size: 1em;
  position: relative;
  right: 20px;
  display: inline;
}
header .lang:hover .first {
  display: block;
}
header .first a:hover {
    background-color: #d4d1d1
}
.dropdown {
    padding: 0;
}

.shipping {
  text-align: center;
  position: absolute;
  left: calc(50% - 169px);
  top: 7px;
}

/* HEADER END */

#menu {
    padding-top: 40px;
}
#menu li a {
    color: #4f4f4f;
    transition: all 0.3s linear;
}
.menu-list {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    font-weight: 900;   
}
.menu-list li {
    position: relative;
}
.menu-list a {
    margin-right: 5px;
    padding: 10px 20px;
}
#menu li a:hover {
    color: #817f7f;
}
.first-inner,
.second-inner {
    border: 1px solid rgb(214, 213, 213);
    box-shadow: 0px -3px 0px rgba(177, 176, 176, 0.6);
    width: 150px;
    display: none;
    position: absolute;

}
.first-inner {
    top: 30px;
} 
.second-inner {
    left: 148px;
    top: 12px;
}

.first-inner li,
.second-inner li {
    position: relative;

}
.first-inner a,
.second-inner a {
    font-size: 0.8em;
    display: block;
    font-weight: 600
}
.first-inner i {
    float: right;
    font-size: 1.2em;
    padding-top: 3px;
}
.menu-list li:hover .first-inner{
    display: block;
}
.first-inner li:hover .second-inner {
    display: block;
}